
body{
    background-image: url(../imgs/biblio2.jpg);
    background-position: center;
    min-height: 100vh;
    position: relative;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3); 
    z-index: -1; 
}
